{% extends "layout/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container vh-100">
    <div class="row justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-md-4 my-5 card p-5">
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% bootstrap_form form layout='floating' %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
</div>
</div>

{% endblock %}

{% block css %}
    <style>
        body{
            background-color: dimgrey;
        }
    </style>
{% endblock css %}
    