{% extends 'layout/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container vh-120">
    <div class="row justify-content-center align-items-center" style="height: 100vh; background-color: aquamarine;">
        <div class="col-md-4 my-5 card p-5">
            <form method="post" autocomplete="off">
                <h1 class="text-center">Contact</h1>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-light text-secondary my-3">Contact</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block css %}{% endblock css %}
{% block js %}{% endblock js %}